src/web/SpotlightSOAPClient/xml-resources/web-service-references/Disambiguation/wsdl/spotlight.dbpedia.org/SpotlightSOAPWebService/Disambiguation.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.1-hudson-28-. --><xs:schema xmlns:tns="http://soap.web.annotation.dbpedia.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://soap.web.annotation.dbpedia.org/">

<xs:element name="Disambiguate" type="tns:Disambiguate" />

<xs:element name="DisambiguateResponse" type="tns:DisambiguateResponse" />

<xs:element name="Exception" type="tns:Exception" />

<xs:complexType name="Disambiguate">
<xs:sequence>
<xs:element name="text" type="xs:string" minOccurs="0" />
<xs:element name="confidence" type="xs:double" />
<xs:element name="support" type="xs:int" />
<xs:element name="targetTypes" type="xs:string" minOccurs="0" />
<xs:element name="coreferenceResolution" type="xs:boolean" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="DisambiguateResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="Exception">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>
</xs:schema>